html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.tm-nav button {
    color: white;
    font-weight: 900;
    text-transform: uppercase;
}
.tm-nav form {
    padding: 15px 15px 20px 30px;
}
.tm-welcome-section {
    background: radial-gradient(circle, #FC466B, #FC8646);
    text-align: center;
}
.tm-top-header, .navbar {
    background-color: #FC466B!important;
    color: white;
}
.tm-welcome-content {
    margin: 0;
    max-width: 100%;
    margin-top: 0;
    padding: 150px 0 250px 0;
}