@using BookstoreWebApp.Models.Books;
@model IEnumerable<BooksIndexViewModel>

<h1></h1>
@{/*
 *  for each genre there is a different bubble. after clicking each one, it redirects to a new webpage only with the books of that genre
 * */}