@using BookstoreWebApp.Models.Authors;
@model AuthorsIndexViewModel

<h1>Create Author</h1>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="FullName" class="form-label">Name</label>
        <input asp-for="FullName" class="form-control" required />
    </div>
    <div class="mb-3">
        <label asp-for="Nationality" class="form-label">Nationality</label>
        <input asp-for="Nationality" class="form-control" required />
    </div>
    <div class="mb-3">
        <label asp-for="Biography" class="form-label">Biography</label>
        <input asp-for="Biography" class="form-control" required />
    </div>
    <div class="mb-3">
        <label asp-for="ImageUrl" class="form-label">Image URL</label>
        <input asp-for="ImageUrl" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>