@using BookstoreWebApp.Models.Authors;
@model AuthorsIndexViewModel

<h1>Edit Author</h1>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="FullName" class="form-label">New name</label>
        <input asp-for="FullName" class="form-control" required />
    </div>
    <div class="mb-3">
        <label asp-for="Nationality" class="form-label">New nationality</label>
        <input asp-for="Nationality" class="form-control" required />
    </div>
    <div class="mb-3">
        <label asp-for="Biography" class="form-label">New biography</label>
        <input asp-for="Biography" class="form-control" required />
    </div>
    <div class="mb-3">
        <label asp-for="ImageUrl" class="form-label">New image's URL</label>
        <input asp-for="ImageUrl" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-light">Submit</button>
</form>